.container{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.container-text{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.container-text h2{
  font-family: "Sofia", sans-serif;
  font-size: 30px;
}

.container-text p{
  font-size: 20px;
  margin-bottom: 3rem;
}

.container-img {
  margin: auto;
  display: block;
}