.navbar-title-link {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

.navbar-title {
    font-weight: bold;
    font-size: 48px;
}

.cart-image {
    height: 2em;
    width: auto;
}

.cart-count {
    font-size: 20px;
}